---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  class="font-medium hover:cursor-pointer ease-in-out duration-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 focus-visible:rounded-sm"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
